* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-background: #000;

  --ffamily-title: 'Aboreto', cursive;
  --ffamily-body: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h2,
h3 {
  font-family: var(--ffamily-title);
}

body {
  font-family: var(--ffamily-body);
  color: #f1f1f1;

  background-color: var(--clr-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  z-index: 0;
  background-color: var(--clr-background);
  /* opacity: .3; */
}

.page-title {
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 10px;

  margin-top: 100px;
}

.goBack a {
  text-decoration: none;
  color: inherit;
}

.goBack {
  position: relative;

  font-size: 1rem;

  margin-top: 1rem;

  display: flex;
  flex-direction: reverse;
  align-items: center;
  gap: 4px;

  cursor: pointer;
}

.goBack::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 95%;
  height: 2px;

  border-radius: 4px;

  background-color: rgba(240, 248, 255, 0.9);

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.goBack:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.gallery {
  /* max-width: 1140px; */
  width: 100%;

  margin: 100px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;

  width: 380px;
  height: 580px;

  margin: 10px;

  background-size: cover;
  background-color: rgba(209, 132, 32, 0.1);

  border-radius: 50px;

  overflow: hidden;

  transition: all ease-in-out 0.3s;

  cursor: pointer;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  transition: all ease-out 0.3s;
}

.content {
  height: calc(100% - 60px);

  margin-top: 85px;

  padding: 30px;

  opacity: 0;
}

.content h2 {
  font-size: 42px;
  color: goldenrod;
  font-weight: 300;
  text-shadow: 2px 6px 2px rgba(66, 49, 6, 0.678);
}

.content h3 {
  font-size: 36px;
  color: goldenrod;
  font-weight: 100;
  text-shadow: 2px 6px 2px rgba(66, 49, 6, 0.678);

  margin-top: 20px;

  transform: translateX(400px);
}

.content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);

  margin-top: 20px;

  transform: translateX(-400px);

  transition-delay: 0.2s;
}

.text-animation {
  transition: all ease-in-out 0.6s;
}

/* ---- Hover Effect ---- */

.card:hover {
  box-shadow: 0px 35px 75px -15px rgba(150, 115, 2, 0.6);
  transform: scale(1.05);
}

.card:hover img {
  opacity: 0.2;
}

.card:hover .content {
  opacity: 1;
}

.card:hover .text-animation {
  transform: translateX(0);
}

@media screen and (max-width: 1000px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 350px;
    height: 550px;
  }

  .card:focus {
    box-shadow: 0px 35px 75px -15px rgba(150, 115, 2, 0.6);
    transform: scale(1.05);
  }
  
  .card:focus img {
    opacity: 0.2;
  }

  .card:focus .content {
    opacity: 1;
  }

  .card:focus .text-animation {
    transform: translateX(0);
  }
}
