* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;

  background-color: bisque;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(219%2c 225%2c 158%2c 1)'%3e%3c/rect%3e%3cpath d='M1959.351424940615 2.364998240879416L1895.2442706107204-108.67185018715733 1760.7425751336125 43.00730552170306z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M983.9751438609857 1004.0984214674909L736.9253570786552 878.2202678097212 611.0472034208855 1125.2700545920516 858.0969902032159 1251.1482082498214z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M333.63938276054824 248.51129820504508L524.5339703212576 354.32589596328927 630.3485680795018 163.43130840258 439.45398051879243 57.6167106443358z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1959.463%2c927.944C2024.767%2c929.788%2c2098.365%2c920.443%2c2130.649%2c863.647C2162.706%2c807.25%2c2129.668%2c741.451%2c2097.489%2c685.124C2064.945%2c628.159%2c2025.002%2c566.959%2c1959.463%2c564.001C1890.219%2c560.876%2c1830.7%2c610.477%2c1798.028%2c671.608C1767.223%2c729.246%2c1769.414%2c799.128%2c1804.242%2c854.429C1836.941%2c906.35%2c1898.127%2c926.212%2c1959.463%2c927.944' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M293.99248501560885 1073.2399111325549L479.68978412916135 1152.0637380444 558.5136110410065 966.3664389308475 372.81631192745397 887.5426120190024z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M620.8961647970123 1018.4275085802319L452.6081569592718 817.8696706490822 252.0503190281221 986.1576784868226 420.33832686586254 1186.7155164179724z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M687.3754493951359 512.2142376713552L812.4511247156512 793.1388039621368 1093.3756910064326 668.0631286416215 968.3000156859173 387.13856235083995z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1633.542819964867 280.6508623827127L1397.0637807330745 194.5795310744708 1547.471488656625 517.1299016145051z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M113.528%2c531.944C192.394%2c531.043%2c269.486%2c490.774%2c303.608%2c419.666C334.436%2c355.423%2c297.798%2c285.798%2c260.894%2c224.842C225.831%2c166.925%2c181.165%2c108.705%2c113.528%2c105.697C41.627%2c102.5%2c-20.457%2c149.504%2c-58.43%2c210.643C-98.957%2c275.896%2c-120.47%2c356.371%2c-84.224%2c424.096C-46.251%2c495.048%2c33.059%2c532.863%2c113.528%2c531.944' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1868.0495823895703 360.14770663506124L1741.5184964269954 219.620699050097 1593.9935280308364 479.68083178644173z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.title {
  margin-top: 60px;

  text-align: center;

  width: 100%;
}

.title h1 {
  font-size: 4.8rem;
  color: #cac531;
  text-shadow: 2px 4px #666600;
}

.title h2 {
  font-size: 4.8rem;
  color: #cac531;
  text-shadow: 2px 4px #666600;

  margin-top: 10px;
}

.calculator {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 40rem;

  background: rgba(253, 253, 255, 0.3);

  backdrop-filter: blur(15px);

  border: 1px solid #ccc;
  border-radius: 1.6rem;

  transform: translate(-50%, -50%);
}

.calculator-screen {
  color: #524948;
  font-size: 5rem;
  text-align: right;

  width: 100%;
  height: 8rem;

  padding-right: 2rem;
  padding-left: 1rem;

  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;

  background-color: rgba(253, 253, 255, 0.05);
  backdrop-filter: blur(10px);
}

button {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #524948;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);

  height: 7rem;

  background-color: #fff;

  border-radius: 50%;
  border: 0.1rem solid #c4c4c4;

  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);

  transition: all ease-in-out 0.2s;

  cursor: pointer;
}

button:hover {
  background-color: #999966;
  color: #fff;
}

.operator {
  color: #666600;
}

.all-clear {
  color: #fff;
  background-color: #666600;

  border-color: #999966;
}

.all-clear:hover {
  background-color: #757519;
}

.equal-sign {
  color: #fff;

  height: 100%;

  background-color: #757519;

  border-color: #ccccb2;
  border-radius: 3.2rem;

  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  font-weight: 600;
  color: #524948;

  background-color: #f1f2b5;
}

.calculator-keys {
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='375' height='667' preserveAspectRatio='none' viewBox='0 0 375 667'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='375' height='667' x='0' y='0' fill='rgba(219%2c 225%2c 158%2c 1)'%3e%3c/rect%3e%3cpath d='M127.20127595547318 354.60150407679754L105.34477877805487 421.86888562005527 172.6121603213126 443.72538279747357 194.4686574987309 376.45800125421584z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M57.381%2c255.432C91.424%2c256.262%2c115.626%2c225.642%2c131.516%2c195.523C146.164%2c167.757%2c149.269%2c135.849%2c135.302%2c107.734C119.529%2c75.986%2c92.826%2c46.869%2c57.381%2c46.3C21.214%2c45.719%2c-9.684%2c72.39%2c-25%2c105.159C-38.321%2c133.659%2c-25.866%2c164.467%2c-10.743%2c192.053C5.237%2c221.203%2c24.148%2c254.621%2c57.381%2c255.432' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M257.40242983726745 210.6114606704053L200.14939282637508 216.6289973420726 206.16692949804238 273.882034352965 263.41996650893475 267.8644976812977z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M52.133%2c455.079C79.105%2c453.115%2c93.231%2c425.676%2c105.873%2c401.77C117.379%2c380.012%2c127.312%2c355.706%2c116.335%2c333.676C104.303%2c309.529%2c79.1%2c294.722%2c52.133%2c293.918C23.689%2c293.07%2c-4.547%2c305.162%2c-19.06%2c329.64C-33.838%2c354.566%2c-31.424%2c385.525%2c-17.121%2c410.727C-2.619%2c436.279%2c22.83%2c457.213%2c52.133%2c455.079' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M322.4692951409727 119.2450170688117L321.40067210787515 58.023644504907566 260.179299543971 59.0922675380051 261.24792257706855 120.31364010190924z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M131.92464501663312 124.83582626780553L63.228606841354306 178.50705349210762 185.5958722409352 193.53186444308434z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M110.91356766674716 174.9793411088839L35.007686288964905 224.2731968439652 84.30154202404623 300.17907822174743 160.20742340182846 250.88522248666612z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M259.3079456130199 331.0306221424774L238.522947564608 224.10107696058486 131.59340238271545 244.88607500899678 152.37840043112737 351.8156201908893z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M399.611%2c306.579C425.86%2c304.81%2c445.611%2c286.103%2c459.538%2c263.783C474.614%2c239.622%2c487.547%2c211.216%2c475.098%2c185.602C461.364%2c157.343%2c430.957%2c138.32%2c399.611%2c140.478C370.9%2c142.455%2c354.501%2c169.91%2c340.212%2c194.891C326.068%2c219.617%2c310.472%2c247.776%2c323.848%2c272.926C337.755%2c299.076%2c370.06%2c308.57%2c399.611%2c306.579' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-33.86695911968603 375.2147603974549L68.49485338462146 359.002242013355 52.282335000521584 256.6404295090475-50.07947750378591 272.8529478931474z' fill='rgba(92%2c 107%2c 27%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='375' height='667' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }

  .title {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .title h1 {
    font-size: 3.2rem;
    color: #cac531;
    text-shadow: 2px 4px #666600;
  }

  .title h2 {
    font-size: 4rem;
    color: #cac531;
    text-shadow: 2px 4px #666600;
    margin-top: 2px;
  }

  .calculator {
    top: 58%;
    width: 35rem;
  }

  button {
    height: 6rem;
  }
}
