* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  /* font-family: 'Anonymous Pro', sans-serif; */

  color: aliceblue;
  background: url(matrix_bg.svg);
}

.wrapper {
  width: 100%;
  height: 100vh;
  
  background-color: rgba(39, 76, 2, 0.2);

  padding: 2px;

  display: flex;
  justify-content: center;
}

.type-effect h1 {
  position: relative;
  top: 290px;

  font-size: clamp(1.25rem, -0.875rem + 8.333vw, 3.5rem);
  letter-spacing: 1.8px;
  white-space: nowrap;

  /* color: #33fe00; */
  color: #8dda0a;
  text-shadow: 4px 6px #274c02;

  border-right: 18px solid green;

  overflow: hidden;

  margin-inline: auto;

  animation: typeEffect 2.5s steps(24, end), cursorBlink 0.75s step-end infinite;
}

/* Animation */
/* typing  */
@keyframes typeEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor */
@keyframes cursorBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: greenyellow;
  }
}
