* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  background-color: #f1f1f1;
  transition: all ease-in-out 0.3s;
}

/* Switch Button */

.content {
  margin-top: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  height: 5rem;
  transform: skew(20deg, -15deg);
}

.title {
  font-size: clamp(3.6rem, 1.2885rem + 4.1026vw, 6rem);
  font-family: 'Poppins';
  color: #121212;
  transition: all ease-in-out 0.5s;
  border: 0.2rem transparent;
  padding: 0.4rem;
}

.switch {
  position: relative;

  width: 6rem;
  height: 3.4rem;

  margin-top: 10rem;

  display: inline-block;
}

.switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  border: solid transparent;

  background-color: black;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;

  cursor: pointer;
}

.slider::before {
  position: absolute;
  content: '';

  width: 2.6rem;
  height: 2.6rem;
  left: -.2rem;
  bottom: .1rem;

  background-color: #f1f1f1;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}

input:checked + .slider {
  background-color: #bc13fe;
  box-shadow: 0 0 1px #bc13fe;
  border: solid;
  border-color: #f1f1f1;
}

input:checked + .slider::before {
  transform: translateX(3rem);
  -moz-transform: translateX(3rem);
  -webkit-transform: translateX(3.1rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round::before {
  border-radius: 50%;
}

/* Theme */

.dark {
  background-color: #121212;
  /* color: aliceblue; */
}

.neon {
  border: 0.2rem solid #fff;
  /* border-radius: 2rem; */
  padding: 0.4rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;

  color: #fff;
  text-shadow: 0 0 .7rem #fff, 0 0 1rem #fff, 0 0 2.1rem #fff, 0 0 4.2rem #bc13fe,
    0 0 8.2rem #bc13fe, 0 0 9.2rem #bc13fe, 0 0 10rem #bc13fe, 0 0 15rem #bc13fe;
  animation: 1.5s alternate infinite pulse;
}

/* Neon Animation */
@keyframes pulse {
  100% {
    text-shadow: 0 0 .4rem #fff, 0 0 1rem #fff, 0 0 2rem #fff, 0 0 4rem #bc13fe,
      0 0 8rem #bc13fe, 0 0 9rem #bc13fe, 0 0 10rem #bc13fe, 0 0 15rem #bc13fe;
  }
  0% {
    text-shadow: 0 0 .2rem #fff, 0 0 .4rem #fff, 0 0 .6rem #fff, 0 0 1rem #bc13fe,
      0 0 4.5rem #bc13fe, 0 0 55rem #bc13fe, 0 0 7rem #bc13fe, 0 0 8rem #bc13fe;
  }
}
