* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-size: 1.6rem;
}

a {
  text-decoration: underline;
  color: inherit;
}

.skewed {
  transform: skewY(10deg);
}

body {
  font-family: 'Acme', sans-serif;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1303%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='26.975' cx='753.81' cy='261.42' fill='url(%23SvgjsLinearGradient1304)'%3e%3c/circle%3e%3ccircle r='35.635' cx='15.48' cy='38.51' fill='url(%23SvgjsLinearGradient1305)'%3e%3c/circle%3e%3ccircle r='71.325' cx='184.8' cy='632.73' fill='url(%23SvgjsLinearGradient1306)'%3e%3c/circle%3e%3ccircle r='73.065' cx='921.05' cy='897.16' fill='url(%23SvgjsLinearGradient1307)'%3e%3c/circle%3e%3ccircle r='89.62' cx='1170.85' cy='134.79' fill='url(%23SvgjsLinearGradient1308)'%3e%3c/circle%3e%3ccircle r='88.25' cx='1353.88' cy='352.29' fill='url(%23SvgjsLinearGradient1309)'%3e%3c/circle%3e%3ccircle r='32.87' cx='473.18' cy='697.29' fill='url(%23SvgjsLinearGradient1310)'%3e%3c/circle%3e%3ccircle r='59.775' cx='822' cy='479.75' fill='%2343468b'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1303'%3e%3crect width='1440' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='699.8599999999999' y1='207.47000000000003' x2='807.7599999999999' y2='315.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1304'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-55.78999999999999' y1='-32.76' x2='86.75' y2='109.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1305'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='327.45000000000005' y1='632.73' x2='42.150000000000006' y2='632.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1306'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1067.1799999999998' y1='897.16' x2='774.92' y2='897.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1307'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1350.09' y1='134.79' x2='991.6099999999999' y2='134.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1308'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1177.38' y1='175.79000000000002' x2='1530.38' y2='528.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1309'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='538.92' y1='697.29' x2='407.44' y2='697.29' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1310'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.overlay {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: rgba(28, 30, 87, 0.3);

  backdrop-filter: blur(5px);
}

.container {
  width: 960px;

  padding-top: 10vh;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 320px;
  height: 240px;

  margin-top: -10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: 6s Infinite linear floating;
  animation-delay: -2.5s;
}

.text .title,
.text .subtitle {
  color: #8e3f61;
  text-transform: uppercase;
  text-shadow: 2px -4px #411d2c;
}

.text .title {
  font-size: 4.8rem;
  text-shadow: 2px -6px #411d2c;
}

.text .subtitle {
  font-size: 1.8rem;
}

.link {
  display: flex;
  align-items: center;

  transition: color ease-in 0.1s;
}

.link:hover {
  color: #903e60;
  filter: brightness(2);
}

.link:hover i {
  color: #dc5e93;
}

svg {
  width: 560px;
}

/* Animation */

svg#freepik_stories-cat-astronaut:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-cat-astronaut.animated #freepik--Rocket--inject-31 {
  animation: 3s Infinite linear floating;
  animation-delay: -7s;
}

svg#freepik_stories-cat-astronaut.animated #freepik--Cat--inject-31 {
  animation: 3s Infinite linear floating;
  animation-delay: -1s;
}

svg#freepik_stories-cat-astronaut.animated #freepik--Planet--inject-31 {
  animation: 6s Infinite linear floating;
  animation-delay: -2.5s;
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animator-hidden {
  display: none;
}

@media screen and (max-width: 560px) {
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='560' height='667' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1303%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='26.975' cx='753.81' cy='261.42' fill='url(%23SvgjsLinearGradient1304)'%3e%3c/circle%3e%3ccircle r='35.635' cx='15.48' cy='38.51' fill='url(%23SvgjsLinearGradient1305)'%3e%3c/circle%3e%3ccircle r='71.325' cx='184.8' cy='632.73' fill='url(%23SvgjsLinearGradient1306)'%3e%3c/circle%3e%3ccircle r='73.065' cx='921.05' cy='897.16' fill='url(%23SvgjsLinearGradient1307)'%3e%3c/circle%3e%3ccircle r='89.62' cx='1170.85' cy='134.79' fill='url(%23SvgjsLinearGradient1308)'%3e%3c/circle%3e%3ccircle r='88.25' cx='1353.88' cy='352.29' fill='url(%23SvgjsLinearGradient1309)'%3e%3c/circle%3e%3ccircle r='32.87' cx='473.18' cy='697.29' fill='url(%23SvgjsLinearGradient1310)'%3e%3c/circle%3e%3ccircle r='59.775' cx='822' cy='479.75' fill='%2343468b'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1303'%3e%3crect width='1440' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='699.8599999999999' y1='207.47000000000003' x2='807.7599999999999' y2='315.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1304'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-55.78999999999999' y1='-32.76' x2='86.75' y2='109.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1305'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='327.45000000000005' y1='632.73' x2='42.150000000000006' y2='632.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1306'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1067.1799999999998' y1='897.16' x2='774.92' y2='897.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1307'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1350.09' y1='134.79' x2='991.6099999999999' y2='134.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1308'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1177.38' y1='175.79000000000002' x2='1530.38' y2='528.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1309'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='538.92' y1='697.29' x2='407.44' y2='697.29' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1310'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    overflow-x: hidden;
  }

  .container {
    width: 100%;

    flex-direction: column;
  }

  .text {
    margin-top: -1rem;
  }

  .text .title {
    font-size: 4.8rem;
  }

  .text .subtitle {
    font-size: 1.8rem;
  }

  .link {
    color: #903e60;
    filter: brightness(2);
  }

  svg {
    width: 375px;
  }
}

@media screen and (min-width: 561px) and (max-width: 768px) {
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='768' height='667' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1303%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='26.975' cx='753.81' cy='261.42' fill='url(%23SvgjsLinearGradient1304)'%3e%3c/circle%3e%3ccircle r='35.635' cx='15.48' cy='38.51' fill='url(%23SvgjsLinearGradient1305)'%3e%3c/circle%3e%3ccircle r='71.325' cx='184.8' cy='632.73' fill='url(%23SvgjsLinearGradient1306)'%3e%3c/circle%3e%3ccircle r='73.065' cx='921.05' cy='897.16' fill='url(%23SvgjsLinearGradient1307)'%3e%3c/circle%3e%3ccircle r='89.62' cx='1170.85' cy='134.79' fill='url(%23SvgjsLinearGradient1308)'%3e%3c/circle%3e%3ccircle r='88.25' cx='1353.88' cy='352.29' fill='url(%23SvgjsLinearGradient1309)'%3e%3c/circle%3e%3ccircle r='32.87' cx='473.18' cy='697.29' fill='url(%23SvgjsLinearGradient1310)'%3e%3c/circle%3e%3ccircle r='59.775' cx='822' cy='479.75' fill='%2343468b'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1303'%3e%3crect width='1440' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='699.8599999999999' y1='207.47000000000003' x2='807.7599999999999' y2='315.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1304'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-55.78999999999999' y1='-32.76' x2='86.75' y2='109.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1305'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='327.45000000000005' y1='632.73' x2='42.150000000000006' y2='632.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1306'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1067.1799999999998' y1='897.16' x2='774.92' y2='897.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1307'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1350.09' y1='134.79' x2='991.6099999999999' y2='134.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1308'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1177.38' y1='175.79000000000002' x2='1530.38' y2='528.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1309'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='538.92' y1='697.29' x2='407.44' y2='697.29' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1310'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }
  .container {
    width: 768px;

    flex-direction: column;
  }

  .text {
    margin-top: 0;
  }

  .text .title {
    font-size: 4.8rem;
  }

  .text .subtitle {
    font-size: 1.8rem;
  }

  .link {
    color: #903e60;
    filter: brightness(2);
  }

  svg {
    width: 560px;
  }
}
