* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--clr-neon) #000;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #000;
}

:root {
  /* Colors */
  --clr-font-main: hsl(208, 100%, 97%);
  --clr-hover: hsl(271, 76%, 53%);
  --clr-neon: #bc13fe;

  /* Fonts */
  --ffamily-main: 'Poppins';
  --ffamily-body: 'Inter';

  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

body {
  /* width: 100vw; */
  font-family: var(--ffamily-main);
  font-size: 1.6rem;
  color: var(--clr-font-main);

  background: #000 url(../images/wallpaperbetter.jpg);
  background-size: cover;
}

/* Header */

.header {
  max-width: 114rem;
  width: 100%;

  margin: 4rem auto;

  padding-inline: 4rem;

  /* background: #c1c1c1; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rocket {
  font-size: 5.2rem !important;
  text-shadow: 0 0 0.7rem #fff, 0 0 1rem #fff, 0 0 2.1rem #fff,
    0 0 4.2rem var(--clr-neon), 0 0 8.2rem var(--clr-neon),
    0 0 9.2rem var(--clr-neon), 0 0 10rem var(--clr-neon),
    0 0 15rem var(--clr-neon);
}

.logo h1 span {
  font-size: 4rem;
  color: var(--clr-neon);
}

.search {
  position: relative;
}

.search input {
  width: 25rem;

  padding: 0.4rem 0.8rem;

  border: none;
  border-radius: 2.5rem;
}

.search-icon {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;

  color: #c1c1c1;
}

/* Featured Movie */

.featured {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 55rem;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.featured-poster {
  width: 100%;
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-poster img {
  object-fit: cover;
}

.featured-content {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 10%;

  width: 50%;
}

.feat-movie-title {
  font-size: 4.2rem;
}

.feat-movie-overview {
  overflow: hidden;
  /* max-width: 70%; */
  /* white-space: wrap; */
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feat-movie-release {
  margin-top: 1rem;
}

/* Movie List */
.main {
  width: 90%;
  margin: 10rem auto;
}

.movies {
  padding: 2rem;

  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  overflow-x: auto;
}

.movie-card {
  width: 17.6rem;
  aspect-ratio: 1;

  padding: 0.2rem;

  border: 1px solid;

  display: flex;
  flex-direction: column;
}

.poster {
  width: 17rem;
  aspect-ratio: 2 / 3;
  /* height: 17.4rem;

  object-fit: cover; */
}

.content {
  display: grid;
  grid-template-rows: 2.5fr 1fr;
}

.movie-title {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: var(--ffamily-body);
}

.movie-rate {
  position: relative;
  font-size: 1.8rem;
  font-weight: 200;

  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-rate span {
  position: absolute;
  top: -0.1rem;
  left: 4.5rem;
  font-size: 2.4rem;
}

.attribuition {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: var(--fontfamily-heading);
  text-align: center;

  padding-block: 3rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.attribuition a {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}